@import "../themes/blackColorPalette.css";

@keyframes showError {
    0% {height: 0%; padding: 0px; visibility: visible;}
    100% {height: 100%; padding: 8px; visibility: visible;}
}

@font-face {
    font-family: bold;
    src: url(../fonts/GraphikBold.otf);
}

@font-face {
    font-family: main;
    src: url(../fonts/SFPro.ttf);
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%; /* 10px --> 1rem */
}

body {
    background-color: var(--background);
    padding: 5rem;
    color: var(--text);
}

h1, h3 { font-family: bold;}

.login {
    position: relative; 
    margin-bottom: 4.5rem; 
}

.login-screen {
	background: var(--primary_one); /* 1 em = 16px */
	padding: 1.875rem 1.25rem 1.25rem 1.25rem;
    width: 38rem;
    margin: 7.5rem auto;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 1rem;
}

.error-group {
    background-color: var(--error);
    color: var(--text);
    padding: 0.1rem;
    visibility: hidden;
}

.error-group b {
    font-size: 2rem;
}

input[type=text] {
    text-align: center;
    background-color: var(--input);
    color: var(--text);
    border: 0.2rem solid transparent;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    font-family: main;
    padding: 1rem 0;
    width: 25rem;
    transition: border .5s;
}
input[type=password] {
    text-align: center;
    background-color: var(--input);
    color: var(--text);
    border: 0.2rem solid transparent;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    font-weight: 200;
    padding: 1rem 0;
    width: 25rem;
    transition: border .5s;
}
    
input[type=text]:focus {
    border: 0.2rem solid var(--secondary_one);
    box-shadow: none;
}
    
input[type=password]:focus {
    border: 0.2rem solid var(--secondary_one);
    box-shadow: none;
}
.btn {
      border: 0.2rem solid transparent;
      background: var(--secondary_one);
      color: #ffffff;
      font-size: 1.6rem;
      line-height: 2.5rem;
      padding: 1rem 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 25rem;
      margin: 0 auto;
}
    
.btn:hover {
      background-color: var(--secondary_two);
}

.restorepass-link {
    font-size: 1.7rem;
    color: var(--url);
    display: block;
    margin-top: 1rem;
    text-decoration: none;
 }

.register-link {
    font-size: 1.7rem;
    color: var(--url);
    text-decoration: none;
}

.restorepass-link:hover {
    transition: all 0.5s ease-out;
    text-decoration: underline;
}

.register-link:hover {
    transition: .5s ease;
    text-decoration: none;
}

.dont-have-text {
    font-size: 1.7rem;
    font-family: main;
    color: var(--text);
}