:root {
    --background: rgb(41, 41, 41);
    --primary_one: #3d3d3d;
    --primary_two: #202020;
    --input: #525252;

    --secondary_one: #4856d3;
    --secondary_two: #3c49b6;

    --url: #367cbd;
    --error: #bd1e24;

    --text: #ececec;
}