:root {
    --background: #eee;
    --primary_one: #fafafa;
    --primary_two: #ebebeb;
    --input: #ECF0F1;

    --secondary_one: #36393f;
    --secondary_two: #202225;

    --url: #1F4A8F;
    --error: #bd1e24;

    --text: #000000;
}